<template>
  <div class="page">
    <section class="page-review">
      <div class="wrap">
        <ReviewCity />
      </div>
    </section>
    <section class="page-feedback">
      <div class="wrap">
        <FeedbackCity />
      </div>
    </section>
    <section class="page-chat">
      <div class="wrap page-chat-wrap">
        <div class="page-chat-item">
          <h2 class="page-chat__title">Чат с пользователем</h2>
          <MiniChat sender="Администратор" />
        </div>
        <div class="page-chat-item">
          <h2 class="page-chat__title">Чат с администратором</h2>
          <MiniChat sender="Наталия Полянская" />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import ReviewCity from "@/components/ReviewCity.vue";
import FeedbackCity from "@/components/FeedbackCity.vue";
import MiniChat from "@/components/MiniChat.vue";
export default {
  components: { ReviewCity, FeedbackCity, MiniChat },
  name: "PageView",
};
</script>

<style lang="scss" scoped>
.page {
  padding: 110rem 0 134rem;
  &-review {
    margin-bottom: 20rem;
  }
  &-feedback {
    margin-bottom: 50rem;
  }
  &-chat {
    &-wrap {
      display: flex;
      justify-content: space-between;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-right: 2rem solid #ebe9e4;
      padding-right: 24rem;
      width: 50%;
      &:last-child {
        padding-right: 0;
        padding-left: 24rem;
        border: 0;
      }
    }
    &__title {
      margin-bottom: 25rem;
    }
  }
}
@media (max-width: 500px) {
  .page {
    &-chat {
      &-wrap {
        flex-direction: column;
      }
      &-item {
        padding: 0;
        border: 0;
        width: 100%;
        &:last-child {
          padding-left: 0;
        }
      }
    }
  }
}
</style>
