<template>
  <div class="feedback">
    <h2 class="feedback__title">Отзывы о Барселоне</h2>
    <div ref="swiper" class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(item, i) in feedbackSlide" :key="i">
          <div class="feedback-slide">
            <div class="feedback-slide-user">
              <div class="feedback-slide__avatar">
                <img :src="item.imgUser" alt="" />
              </div>
              <div class="feedback-slide__name">{{ item.name }}</div>
            </div>
            <div class="feedback-slide-content">
              <div class="feedback-slide__title">
                {{ item.sity }} <span>— О городе:</span>
              </div>
              <div class="feedback-slide__text">
                {{ item.text }}
              </div>
              <FancyBox
                :options="{
                  Carousel: {
                    infinite: false,
                  },
                }"
              >
                <div class="feedback-slide-photo">
                  <a
                    data-fancybox="gallery"
                    :href="photo.url"
                    class="feedback-slide-photo__item"
                    v-for="(photo, photoI) in item.photos"
                    :key="photoI"
                    :data-count="item.photos.length - 4"
                  >
                    <img :src="photo.url" alt="" />
                  </a>
                </div>
              </FancyBox>
            </div>
            <div class="feedback-slide-bottom">
              <div class="feedback-slide__data">{{ item.data }}</div>
              <div class="feedback-slide__comments">{{ item.comments }}</div>
              <div class="feedback-slide__like">
                <svg
                  width="14"
                  height="16"
                  viewBox="0 0 14 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.00025 10.063L3.75025 8.688L5.06225 4.219C5.06225 4.219 4.84425 2.219 4.71925 1C7.03125 1 7.15625 3.969 7.15625 3.969L7.40625 6.063C7.40625 6.063 9.77025 5.421 10.6253 5.251C11.8753 5.001 12.6883 5.688 12.3753 7C13.0313 7.407 13.0003 8.563 12.4693 9.063C12.9383 9.594 12.8443 10.844 12.1883 11.313C12.3503 12.431 11.9693 12.688 11.6883 12.938C11.4063 13.188 9.93825 14.001 8.28125 14.001C6.62525 14.001 5.18725 13.657 5.18725 13.657L3.03125 15C3.03125 15 2.21925 14.469 1.59425 12.876C0.969252 11.282 1.00025 10.063 1.00025 10.063Z"
                    stroke="#A0A0A0"
                    stroke-linejoin="round"
                  />
                </svg>
                {{ item.like }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feedback-bottom">
      <a href="/" class="feedback__link">Все отзывы</a>
      <div class="feedback-slide__pagination"></div>
    </div>
  </div>
</template>

<script>
import Swiper, { Navigation, Pagination } from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

import FancyBox from "./FancyBox.vue";

export default {
  name: "FeedbackCity",
  components: {
    FancyBox,
  },
  data() {
    return {
      // feedbackSwiper: {
      //   slidesPerView: "auto",
      //   // watchOverflow: true,
      //   spaceBetween: 20,
      //   breakpoints: {},
      //   pagination: {
      //     el: ".feedback-slide__pagination",
      //     clickable: true,
      //   },
      // },

      feedbackSlide: [
        {
          imgUser: require("../assets/img/user-ava.jpg"),
          name: "Наталия Полянская",
          sity: "БАРСЕЛОНА",
          text: "Барселона – моя третья большая любовь, после Вены и Крита. Это город, в который я каждый раз возвращаюсь с огромным удовольствием, всем рекомендую хоть раз там побывать и осмотреть  ",
          photos: [
            { url: require("../assets/img/photo-sity--1.jpg") },
            { url: require("../assets/img/photo-sity--2.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--4.jpg") },
            { url: require("../assets/img/user-ava.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
          ],
          data: "около 1 года назад",
          comments: "9 комментариев",
          like: "9",
        },
        {
          imgUser: require("../assets/img/user-ava.jpg"),
          name: "Наталия Полянская",
          sity: "БАРСЕЛОНА",
          text: "Плюсы города: весь город одни плюсы! Минусы города: не видела. В наш марафон по Европе не вписалось 2 испанских города от усталости - решили остаток путешествия провести в Барселоне ",
          photos: [
            { url: require("../assets/img/photo-sity--1.jpg") },
            { url: require("../assets/img/photo-sity--2.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--4.jpg") },
            { url: require("../assets/img/user-ava.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
          ],
          data: "около 1 года назад",
          comments: "9 комментариев",
          like: "9",
        },
        {
          imgUser: require("../assets/img/user-ava.jpg"),
          name: "Наталия Полянская",
          sity: "БАРСЕЛОНА",
          text: "Барселона – моя третья большая любовь, после Вены и Крита. Это город, в который я каждый раз возвращаюсь с огромным удовольствием, всем рекомендую хоть раз там побывать и осмотреть ",
          photos: [
            { url: require("../assets/img/photo-sity--1.jpg") },
            { url: require("../assets/img/photo-sity--2.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--4.jpg") },
            { url: require("../assets/img/user-ava.jpg") },
            { url: require("../assets/img/user-ava.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
          ],
          data: "около 1 года назад",
          comments: "9 комментариев",
          like: "9",
        },
        {
          imgUser: require("../assets/img/user-ava.jpg"),
          name: "Наталия Полянская",
          sity: "БАРСЕЛОНА",
          text: "Барселона – моя третья большая любовь, после Вены и Крита. Это город, в который я каждый раз возвращаюсь с огромным удовольствием, всем рекомендую хоть раз там побывать и осмотреть ",
          photos: [
            { url: require("../assets/img/photo-sity--1.jpg") },
            { url: require("../assets/img/photo-sity--2.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--4.jpg") },
            { url: require("../assets/img/user-ava.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
          ],
          data: "около 1 года назад",
          comments: "9 комментариев",
          like: "9",
        },
        {
          imgUser: require("../assets/img/user-ava.jpg"),
          name: "Наталия Полянская",
          sity: "БАРСЕЛОНА",
          text: "Барселона – моя третья большая любовь, после Вены и Крита. Это город, в который я каждый раз возвращаюсь с огромным удовольствием, всем рекомендую хоть раз там побывать и осмотреть ",
          photos: [
            { url: require("../assets/img/photo-sity--1.jpg") },
            { url: require("../assets/img/photo-sity--2.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--4.jpg") },
            { url: require("../assets/img/user-ava.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
          ],
          data: "около 1 года назад",
          comments: "9 комментариев",
          like: "9",
        },
        {
          imgUser: require("../assets/img/user-ava.jpg"),
          name: "Наталия Полянская",
          sity: "БАРСЕЛОНА",
          text: "Барселона – моя третья большая любовь, после Вены и Крита. Это город, в который я каждый раз возвращаюсь с огромным удовольствием, всем рекомендую хоть раз там побывать и осмотреть ",
          photos: [
            { url: require("../assets/img/photo-sity--1.jpg") },
            { url: require("../assets/img/photo-sity--2.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--4.jpg") },
            { url: require("../assets/img/user-ava.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
            { url: require("../assets/img/photo-sity--3.jpg") },
          ],
          data: "около 1 года назад",
          comments: "9 комментариев",
          like: "9",
        },
      ],
    };
  },
  mounted() {
    new Swiper(this.$refs.swiper, {
      modules: [Navigation, Pagination],
      slidesPerView: "auto",
      spaceBetween: 20,
      pagination: {
        el: ".feedback-slide__pagination",
        clickable: true,
      },
    });
  },
};
</script>

<style lang="scss">
.feedback-slide__pagination {
  display: flex;
  align-items: center;
  width: fit-content !important;
  & .swiper-pagination-bullet {
    width: 4rem;
    height: 4rem;
    background-color: rgba(33, 33, 33, 1) !important;
    margin-left: 12rem;
    opacity: 1;
    transition: 0.25s ease-in-out;
  }
  & .swiper-pagination-bullet-active {
    width: 8rem;
    height: 8rem;
    background-color: rgba(255, 70, 65, 1) !important;
  }
}
.feedback {
  background-color: #fff;
  padding: 35rem 29rem 33rem 31rem;
  &__title {
    width: fit-content;
    margin-bottom: 21rem;
  }
  & .swiper-slide {
    width: 300rem;
  }
  &-slide {
    background: #f9f7f2;
    padding: 26rem 23rem 11rem 19rem;
    width: 100%;
    &-user {
      display: flex;
      align-items: center;
      margin-bottom: 28rem;
    }
    &__avatar {
      width: 30rem;
      height: 30rem;
      flex-shrink: 0;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 10rem;
    }
    &__name {
      color: #000;
      font-size: 15rem;
      font-family: "KievitPro";
      line-height: 17rem;
    }
    &-content {
      margin-bottom: 26rem;
      text-align: start;
    }
    &__title {
      color: #fc4f1e;
      font-size: 13rem;
      font-family: "KievitPro";
      font-weight: 500;
      line-height: 17rem;
      letter-spacing: 0.464rem;
      text-transform: uppercase;
      margin-bottom: 12rem;
      & span {
        color: #212121;
        font-size: 13rem;
        font-family: "KievitPro";
        line-height: 17rem;
        letter-spacing: 0.464rem;
        text-transform: uppercase;
      }
    }
    &__text {
      color: #000;
      font-size: 15rem;
      font-family: "Roboto";
      line-height: 25rem;

      margin-bottom: 8rem;

      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 7;
      -webkit-line-clamp: 7;
      line-clamp: 7;
      display: -webkit-box;
      // display: box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }
    &-photo {
      display: flex;
      gap: 5rem;
      &__item {
        display: block;
        width: 50rem;
        height: 50rem;
        flex-shrink: 0;
        outline: none;
        cursor: pointer;
        &:nth-child(4) {
          position: relative;
          &::after {
            content: "+" attr(data-count);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(16, 16, 16, 0.4);

            color: #fff;
            font-size: 17rem;
            font-family: "Roboto";
            font-weight: 500;
            line-height: 25rem;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &:nth-child(n + 5) {
          display: none;
        }
      }
    }
    &-bottom {
      display: flex;
    }
    &__data {
      color: #9d9d9d;
      font-size: 11rem;
      font-family: "Roboto";
      line-height: 25rem;
      display: flex;
      align-items: center;

      &::after {
        content: ".";
        color: #8f8f8e;
        font-size: 11rem;
        font-family: "Roboto";
        font-weight: 700;
        line-height: 1;
        margin-left: 11rem;
        transform: translateY(-13%);
      }
    }
    &__comments {
      color: #9d9d9d;
      font-size: 11rem;
      font-family: "Roboto";
      line-height: 25rem;
      margin-left: 5rem;
    }
    &__like {
      margin-left: auto;
      color: #9d9d9d;
      font-size: 11rem;
      font-family: "Roboto";
      line-height: 25rem;

      display: flex;
      align-items: center;

      & svg {
        margin-right: 4rem;

        width: 14rem;
        height: 16rem;
        flex-shrink: 0;
      }
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32rem;
  }
  &__link {
    border-radius: 2rem;
    border: 2rem solid #ff4641;
    padding: 10rem 23rem 13rem 24rem;

    color: #212121;
    font-size: 15rem;
    font-family: "KievitPro";
    font-weight: 500;
    line-height: 17rem;

    text-decoration: none;

    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .feedback {
    & .swiper-slide {
      width: 100%;
    }
  }
}
</style>
