<template>
  <div class="chat">
    <div class="chat-top">
      <div class="chat-top-user">
        <div class="chat-top-user__img">
          <img :src="interlocutor.imgSrc" alt="" />
        </div>
        <div class="chat-top-user-info">
          <div class="chat-top-user__name">{{ interlocutor.name }}</div>
          <div class="chat-top-user__flag">
            <svg
              width="8rem"
              height="10rem"
              viewBox="0 0 8 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.27273 0.454545H0.909091V0H0V10H0.909091V5.90909H7.27273L5.90909 3.18182L7.27273 0.454545Z"
                fill="#FF4641"
              />
            </svg>
            {{ interlocutor.flag }}
          </div>
        </div>
      </div>
      <div class="chat-top-rating" v-if="interlocutor.status === 'user'">
        <div
          class="chat-top-rating__star"
          v-for="(star, index) in 5"
          :key="index"
          :class="{ active: index < interlocutor.rating }"
        >
          <svg
            width="13rem"
            height="12rem"
            viewBox="0 0 13 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.375 9.97771L2.78474 11.9593C2.54669 12.0907 2.26334 11.8842 2.31691 11.6184L3.11775 7.6442L0.104135 4.89617C-0.0976009 4.71222 0.0109123 4.37718 0.282514 4.34542L4.36191 3.86849L6.08556 0.183765C6.20017 -0.0612557 6.54982 -0.0612549 6.66444 0.183766L8.38809 3.86849L12.4675 4.34542C12.7391 4.37718 12.8476 4.71222 12.6459 4.89617L9.63225 7.6442L10.4331 11.6184C10.4867 11.8842 10.2033 12.0907 9.96525 11.9593L6.375 9.97771Z"
              fill="#F1EBDB"
            />
          </svg>
        </div>
      </div>
    </div>

    <div class="chat-body" ref="chatBody" v-scroll-to-bottom>
      <div
        class="chat-msg"
        v-for="(message, index) in chatMessages"
        :key="index"
        :class="{
          'chat-msg--incoming': interlocutor.name === message.name,
        }"
      >
        <div class="chat-msg__img">
          <img :src="message.imgSrc" alt="" />
        </div>
        <div class="chat-msg-content">
          <div class="chat-msg__text">{{ message.text }}</div>
          <div class="chat-msg__data">{{ message.time }}</div>
        </div>
      </div>
    </div>

    <div class="chat-bottom">
      <div class="chat-bottom__avatar">
        <img :src="currentUser.avatarSrc" alt="" />
      </div>
      <div class="chat-bottom__msg">
        <input
          class="chat-bottom__input"
          id="chat-msg"
          placeholder="Напишите сообщение..."
          v-model="newMessage"
          @keydown.enter="sendMessage"
        />
        <div class="chat-bottom__btn" @click="sendMessage">
          <svg
            width="22rem"
            height="22rem"
            viewBox="0 0 22 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.000504511 11.7943L5.95749 14.5139L17.6432 4.88889L8.32519 15.6597L9.77636 22L11.5327 17.6455L18.3306 20.7778C18.2084 20.9007 22.1194 0.122905 21.9972 0C21.9972 0 -0.121699 11.7943 0.000504511 11.7943Z"
              fill="#FF4641"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
  name: "MiniChat",
  props: {
    sender: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      newMessage: "",
      MsgSender: "",
      userStatus: "",
    };
  },
  directives: {
    scrollToBottom: {
      inserted: function (el) {
        el.scrollTop = el.scrollHeight;
      },
      componentUpdated: function (el) {
        el.scrollTop = el.scrollHeight;
      },
    },
  },
  methods: {
    ...mapMutations("dialog", ["addMessage"]),
    ...mapActions("dialog", ["sendMessage"]),
    sendMessage() {
      const user = this.$store.getters["dialog/getChatUsers"].find(
        (user) => user.name === this.sender
      );
      const currentDate = new Date();
      const month = currentDate.getMonth() + 1;
      const day = currentDate.getDate();
      const hours = currentDate.getHours();
      const minutes = currentDate.getMinutes();
      if (this.newMessage.trim() !== "") {
        const newMessage = {
          imgSrc: user.imgSrc,
          text: this.newMessage,
          time: `${hours}:${minutes} - ${day}.${month}`,
          name: this.sender,
        };
        this.addMessage(newMessage);
        this.newMessage = "";
      }
    },
  },
  created() {
    this.MsgSender = this.sender;
  },
  computed: {
    ...mapGetters("dialog", ["getChatUsers", "getMessages"]),
    interlocutor() {
      const user = this.getChatUsers.find((user) => user.name !== this.sender);
      return user
        ? {
            name: user.name,
            imgSrc: user.imgSrc,
            flag: user.flag,
            rating: user.rating,
            status: user.status,
          }
        : {
            imgSrc: require("../assets/img/no-photo.webp"),
          };
    },
    currentUser() {
      const user = this.getChatUsers.find((user) => user.name === this.sender);
      if (user) {
        return {
          avatarSrc: user.imgSrc,
        };
      } else {
        return {
          avatarSrc: require("../assets/img/no-photo.webp"),
        };
      }
    },
    chatMessages() {
      return this.getMessages.map((message) => {
        return {
          imgSrc: message.imgSrc,
          text: message.text,
          time: message.time,
          name: message.name,
        };
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.chat {
  background: #fff;
  width: 100%;
  &-top {
    border-bottom: 1rem solid #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27rem 19rem 27rem 26rem;
    &-user {
      display: flex;
      align-items: center;
      &__img {
        width: 44rem;
        height: 44rem;
        flex-shrink: 0;
        border-radius: 50%;
        margin-right: 19rem;
        overflow: hidden;
      }
      &__name {
        color: #000;
        font-size: 18rem;
        font-family: "KievitPro";
        font-weight: 700;
        line-height: 17rem;
      }
      &__flag {
        display: flex;
        align-items: center;

        color: #ff4641;
        font-size: 13rem;
        font-family: "KievitPro";
        line-height: 17rem;
        & svg {
          width: 8rem;
          height: 10rem;
          flex-shrink: 0;
          margin-right: 4rem;
        }
      }
    }
    &-rating {
      position: relative;
      overflow: hidden;
      width: 75rem;
      height: 12rem;
      flex-shrink: 0;
      margin-left: 10rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
      &__star {
        display: flex;
        flex-shrink: 0;
        &.active {
          & svg {
            & path {
              fill: rgba(245, 166, 35, 1);
            }
          }
        }
      }
    }
  }
  &-body {
    height: 496rem;
    overflow-y: scroll;
    padding: 14rem;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 3rem;
    }

    &::-webkit-scrollbar-thumb {
      background: #ff4641;
    }
  }
  &-msg {
    display: flex;
    padding: 12rem;
    margin-bottom: 18rem;
    &:last-child {
      margin-bottom: 0;
    }
    &--incoming {
      background: #f9f7f2;
    }
    &__img {
      width: 44rem;
      height: 44rem;
      flex-shrink: 0;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 19rem;
    }
    &__text {
      color: #000;
      font-size: 15rem;
      font-family: "KievitPro";
      line-height: 24rem;
      text-align: left;

      margin-bottom: 4rem;
    }
    &__data {
      color: #9d9d9d;
      text-align: left;
      font-size: 11rem;
      font-family: "Roboto";
      line-height: 25rem;
    }
  }
  &-bottom {
    border-top: 1rem solid #ececec;
    padding: 26rem 19rem 28rem 26rem;
    display: flex;
    align-items: center;
    &__avatar {
      width: 44rem;
      height: 43rem;
      flex-shrink: 0;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 19rem;
    }
    &__msg {
      display: flex;
      align-items: center;
    }
    &__input {
      border: 1rem solid #ececec;
      background: #fff;
      padding: 14rem 30rem 16rem 24rem;
      max-width: 270rem;
      width: 100%;
      outline: none;

      color: #303030;
      font-size: 15rem;
      font-family: "KievitPro";
      line-height: 24rem;
      ::placeholder {
        color: #a3a2a2;
        font-size: 15rem;
        font-family: "KievitPro";
        line-height: 24rem;
      }
    }
    &__btn {
      width: 22rem;
      height: 22rem;
      flex-shrink: 0;
      margin-left: 15rem;
      cursor: pointer;
    }
  }
}
@media (max-width: 1024px) {
  .chat {
    &-top {
      flex-direction: column;
      align-items: flex-start;
      &-rating {
        margin-top: 20rem;
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 500px) {
  .chat {
    &-body {
      height: 300rem;
    }
  }
}
</style>
