<template>
  <div class="review">
    <div class="review__img">
      <img src="../assets/img/review__img.jpg" alt="" />
    </div>
    <div class="review-textblock">
      <h1 class="review__title">Барселона — обзор города</h1>
      <div class="review__text">
        Барселона с её золотистыми пляжами, архитектурными шедеврами Гауди,
        многочисленными фестивалями и гастрономическим разнообразием понравилась
        мне в первый же день пребывания и стала местом, в котором <br />
        многочисленными фестивалями и гастрономическим разнообразием понравилась
        мне в первый же день пребывания и стала местом, в котором
      </div>
      <router-link to="/" class="review__link">Читать дальше</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "ReviewCity",
};
</script>

<style lang="scss" scoped>
.review {
  background-color: #fff;
  display: flex;
  height: 440rem;
  &__img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-shrink: 1;
  }
  &-textblock {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 30rem 37rem 30rem 29rem;
  }
  &__title {
    margin-bottom: 19rem;
  }
  &__text {
    color: #000;
    font-size: 17rem;
    font-family: "KievitPro";
    font-weight: 300;
    text-align: start;

    margin-bottom: 6rem;

    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 6;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    display: -webkit-box;
    // display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
  &__link {
    color: #000;
    font-size: 17rem;
    font-family: "KievitPro";
    text-decoration: none;
    line-height: 1;

    cursor: pointer;
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: calc(100% + 2rem);
      left: 0;
      width: 100%;
      height: 3rem;
      background: #ff4641;
    }
  }
}
@media (max-width: 500px) {
  .review {
    flex-direction: column;
    height: auto;
    &__img {
      width: 100%;
      height: 250rem;
    }
    &-textblock {
      width: 100%;
    }
  }
}
</style>
