<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "KievitPro";
  src: url("./assets/fonts/kievit/KievitPro-Bold.eot"),
    url("./assets/fonts/kievit/KievitPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/kievit/KievitPro-Bold.woff2") format("woff2"),
    url("./assets/fonts/kievit/KievitPro-Bold.woff") format("woff"),
    url("./assets/fonts/kievit/KievitPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KievitPro";
  src: url("./assets/fonts/kievit/KievitPro-Black.eot"),
    url("./assets/fonts/kievit/KievitPro-Black.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/kievit/KievitPro-Black.woff2") format("woff2"),
    url("./assets/fonts/kievit/KievitPro-Black.woff") format("woff"),
    url("./assets/fonts/kievit/KievitPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KievitPro";
  src: url("./assets/fonts/kievit/KievitPro-ExtraLight.eot"),
    url("./assets/fonts/kievit/KievitPro-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/kievit/KievitPro-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/kievit/KievitPro-ExtraLight.woff") format("woff"),
    url("./assets/fonts/kievit/KievitPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KievitPro";
  src: url("./assets/fonts/kievit/KievitPro-ExtraBold.eot"),
    url("./assets/fonts/kievit/KievitPro-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/kievit/KievitPro-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/kievit/KievitPro-ExtraBold.woff") format("woff"),
    url("./assets/fonts/kievit/KievitPro-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KievitPro-Book";
  src: url("./assets/fonts/kievit/KievitPro-Book.eot"),
    url("./assets/fonts/kievit/KievitPro-Book.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/kievit/KievitPro-Book.woff2") format("woff2"),
    url("./assets/fonts/kievit/KievitPro-Book.woff") format("woff"),
    url("./assets/fonts/kievit/KievitPro-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KievitPro";
  src: url("./assets/fonts/kievit/KievitPro-Light.eot"),
    url("./assets/fonts/kievit/KievitPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/kievit/KievitPro-Light.woff2") format("woff2"),
    url("./assets/fonts/kievit/KievitPro-Light.woff") format("woff"),
    url("./assets/fonts/kievit/KievitPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KievitPro";
  src: url("./assets/fonts/kievit/KievitPro-Medium.eot"),
    url("./assets/fonts/kievit/KievitPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/kievit/KievitPro-Medium.woff2") format("woff2"),
    url("./assets/fonts/kievit/KievitPro-Medium.woff") format("woff"),
    url("./assets/fonts/kievit/KievitPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KievitPro";
  src: url("./assets/fonts/kievit/KievitPro-Regular.eot"),
    url("./assets/fonts/kievit/KievitPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/kievit/KievitPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/kievit/KievitPro-Regular.woff") format("woff"),
    url("./assets/fonts/kievit/KievitPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KievitPro";
  src: url("./assets/fonts/kievit/KievitPro-Thin.eot"),
    url("./assets/fonts/kievit/KievitPro-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/kievit/KievitPro-Thin.woff2") format("woff2"),
    url("./assets/fonts/kievit/KievitPro-Thin.woff") format("woff"),
    url("./assets/fonts/kievit/KievitPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Bold.eot"),
    url("./assets/fonts/roboto/Roboto-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("./assets/fonts/roboto/Roboto-Bold.woff") format("woff"),
    url("./assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Regular.eot"),
    url("./assets/fonts/roboto/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Black.eot"),
    url("./assets/fonts/roboto/Roboto-Black.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto/Roboto-Black.woff2") format("woff2"),
    url("./assets/fonts/roboto/Roboto-Black.woff") format("woff"),
    url("./assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Thin.eot"),
    url("./assets/fonts/roboto/Roboto-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto/Roboto-Thin.woff2") format("woff2"),
    url("./assets/fonts/roboto/Roboto-Thin.woff") format("woff"),
    url("./assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Light.eot"),
    url("./assets/fonts/roboto/Roboto-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto/Roboto-Light.woff2") format("woff2"),
    url("./assets/fonts/roboto/Roboto-Light.woff") format("woff"),
    url("./assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Medium.eot"),
    url("./assets/fonts/roboto/Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("./assets/fonts/roboto/Roboto-Medium.woff") format("woff"),
    url("./assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: calc(100vw / 1920);
  @media (max-width: 1100px) {
    font-size: calc(100vw / 768);
  }
  @media (max-width: 500px) {
    font-size: calc(100vw / 360);
  }
}
body {
  font-size: 16rem;
  background-color: #f9f7f2;
}

h2 {
  color: #000;
  font-size: 29rem;
  font-family: KievitPro;
  font-weight: 700;
  letter-spacing: 0.87rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap {
  max-width: 879rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 15rem;
}
</style>

